body{
    background-color: #e7dd5c
}
li{
    display: inline;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 1px;
}

form[name="Employee Form"]{
    border: 2px solid #000;
    width: 300px;
    margin: 4px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color:#fbe3fd;
}

#nav-heading > nav > ul li{
      background-color: #63eb54;
      padding: 5px;
      margin: 2px;
}

#nav-heading > nav ul li:hover{
    background-color: #fcd0b1;
}

#main-heading{
    background-color: #fbdd5b;
    padding: 5px;
    margin: 2px;
}

.top{
   text-align:center;
   padding:10px;
   background:#f69bc1;
}

#bottom-nav> div > p{
    display: inline;
    margin: 15px;
    padding: 4px;
    background: rgb(43, 214, 42);
    border: 3px solid #de3118;
}

#bottom-nav > div > p:hover{
    background: #bda228;
}

.bottom{
   text-align:center;
   background: #f69bc1;
   padding: 20px;
}

button{
    padding: 10px 20px;
    border-radius: 4px;
    cursor:pointer;
}

button[type="submit"]{
    background-color:#f2b446;
}

button[type="submit"]:hover{
     background-color:#696eef;
}

button[type="reset"]{
  background-color: #dd2f27;
}

button[type="reset"]:hover{
   background-color: #4df227;
}