<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Portal Login</title>

        <!-- Bootstrap -->
        <!--link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"-->
        <link href="stylessheet" rel="styles.css"/>
   </head>
        <body>
           <header>
              <h1>Hello World</h1>
           </header>
           <header class="header"></header>
              <nav class="nav">
                <ul class="breadcrumb">
                  <li>
                      <a href="Name">Name</a>
                  </li>
                  <li>
                     <a href="email">Email</a>
                  </li>
                  <li>
                     <a href="Phonenumber">Phonenumber</a>
                  </li>
                  <li>
                     <a href="Hobbies">Hobbies</a>
                  </li>
                </ul>
              </nav>
                 <section class="container-fluid">
                   <article class="container">
                       <div class="row">
                            <figure class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                  <img src="../images/Yahoo_Logo.png" class="img-responsive"/>
                                     <!--<div class ="row">
                                       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                         <h4> Sign in </h4>
                                       </div>
                                     </div>-->
                            </figure>
                          <!-- <figure class="column-xs-12 column-sm-4 column-md-4 column-lg-4" href="http://www.adidas.com/us/">
                               <img src="../images/adidas08.png" class="img-responsive"/>
                           </figure>-->
                       </div>
                       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                             <form name="Yahoologinform" style="height:525px;width:500px;">
                                  <div class="form-group">
                                         <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Email</label>
                                         <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                              <input type="email" class="form-control" id="enter your email" placeholder="enter your email">
                                          </div>
                                  </div>
                                 <div class="form-group">
                                          <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label"></label>
                                          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                              <button type="button" class="btn btn-login">next</button>
                                          </div>
                                 </div>

                                 <div class="stay-signin-in">
                                          <div id="persistency" class="pure-u-1-2 mbr-checkbox ">
                                                <div class="mbr-text-align mbr-login-text-normal">
                                                       <label style="margin-left:-74px; margin-top:129px;">Stay signed in</label>
                                                </div>
                                          </div>
                                 </div>
                                 <div class="security-message" style="margin-left: 55px;">
                                                <h2>Account security issue</h2>
                                                     <p><a href="https://yahoo.com/security-update" class="logclick" data-name="security_url" target="_blank">
                                                                   More information about the account security issue.                </a></p>
                                                     <p><a href="https://yahoo.com/security-notice-content" class="logclick" data-name="security_help_url" target="_blank">
                                                                Our notice to potentially affected users.                </a></p>
                                 </div>
                                                <span style="margin-left:61px;">Don't have an account? sign up</span>

                             </form>
                           </div>
              </article>
                      <footer>
                            <h6>Some footer</h6>
                      </footer>
          </section>
        </body>
</html>