<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login Form</title>
   </head>
      <body>
          <header>
              <section>
                  <article>
                    <form>
                      <fieldset>
                          <h1>Login Form</h1>
                          <p>
                              <label>Email</label>
                              <input value="Email" />
                          </p>
                          <p>
                              <label>Password</label>
                              <input value= "Pwd" />
                          </p>
                          <p>
                              <label>Date of Birth</label>
                              <input value= "Date of Birth" />
                          </p>
                      </fieldset>
                     </form>
                  </article>
              </section>
          </header>

      </body>
</html>