#main-heading:hover{
    /*transform 2D translate*/

   /*-webkit-transform: translate(0,100px);*//*to transforms chorme and safari*//*
   -moz-transform: translate(0,100px); *//*this is to transform mozila*//*
   -o-transform: translate(0,100px); *//*this will transform opera*//*
   -ms-transform: translate(0,100px); */ /*IE specific transform*//*
   transform: translate(0,100px);*/ /*It will fallback*//*
   */

  /* -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);*/

    /*-webkit-transform: scale(4,4);
    -moz-transform: scale(4,4);
    -o-transform: scale(4,4);
    -ms-transform: scale(4,4);
    transform: scale(4,4);*/

    -webkit-transform: skew(10deg,-40deg);
    -moz-transform: skew(10deg,-40deg);
    -o-transform: skew(10deg,-40deg);
    -ms-transform: skew(10deg,-40deg);
    transform: skew(10deg,-40deg);
}

h1{
      /*position:absolute;
     -webkit-animation: scrollContent 20s infinite;
     -moz-animation: scrollContent 20s infinite;
     -o-animation: scrollContent 20s infinite;
     -ms-animation: scrollContent 20s infinite;
      animation: scrollContent 20s infinite;*/

      -webkit-transform: scale(2,2);
      -moz-transform: scale(2,2);
      -o-transform: scale(2,2);
      -ms-transform: scale(2,2);
      transform: scale(2,2);
}

#main-heading{
     /*position:absolute;
     -webkit-animation: scrollContent 20s infinite;
     -moz-animation: scrollContent 20s infinite;
     -o-animation: scrollContent 20s infinite;
     -ms-animation: scrollContent 20s infinite;
     animation: scrollContent 20s infinite;*/

     -webkit-transform: upAndDown 2s infinite;
     -moz-transform: upAndDown 2s infinite;
     -o-transform: upAndDown 2s infinite;
     -ms-transform: upAndDown 2s infinite;
     transform: upAndDown 2s infinite;
}

@keyframes scrollContent{
  0%,100%{
     left: 0%;
  }

  50%,{
     left:50%;
  }
}

.scroll-content{
    position:absolute;
   -webkit-animation: scrollContent 20s infinite;
   -moz-animation: scrollContent 20s infinite;
   -o-animation: scrollContent 20s infinite;
   -ms-animation: scrollContent 20s infinite;
   animation: scrollContent 20s infinite;
}


